


/* TESTIMONIAL */

/* TESTIMONIAL */


@media (min-width: 768px) and (max-width: 991.98px) {
  /*----------------
     ABOUT
    ----------------*/
    .about-list li {
      float: none;
      width: 100%;
      margin-bottom: 10px;
    }
    .about-bg-img {
      width: 35%;
      height: 100%;
      max-height: 600px;
    }
    .about-content {
      margin-top: 60px;
    }
    #about {
      padding-bottom: 40px;
    }
}
@media (max-width: 575.98px) {
  /*----------------
     ABOUT
    ----------------*/
    .about-list li {
      float: none;
      width: 100%;
      margin-bottom: 10px;
    }
    .about-bg-img {
      width: 35%;
      height: 100%;
      max-height: 600px;
    }
    .about-content {
      margin-top: 60px;
    }
    #about {
      padding-bottom: 40px;
    }
    .img-block img {
      width: 130px;
    }
    .service-block {
      margin-bottom: 20px;
    }
}
