/*---------- BUTTONS ----------*/
.btn {
  font: 600 10.5px/1;
  display: inline-block;
  padding: 15px 45px 15px 45px;
  text-transform: uppercase;
  border: 2px solid transparent;
  transition: all .2s;
  border-radius: 0px;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
}

.btn:focus,
.btn:active,
.btn:active:focus {
  outline: none;
  box-shadow: none;
}

.btn-hero,
.btn-white:hover {
  color: #fff !important;
  background: #635CDB;
}

.btn-hero:focus {
  color: #fff !important;
}

.btn-black,
.btn-hero:hover {
  background-color: black;
  color: #fff !important;
}

.btn-black:hover {
  color: #fff;
  background: #635CDB;
}

.btn-black:focus {
  color: #fff;
}

.btn-white {
  background-color: rgba(255, 255, 255, 0.95);
  color: rgba(0, 0, 0, 0.85);
  border-color: rgba(255, 255, 255, 0.12);
}

.btn-white:focus {
  color: #000;
}

.btn-white:active {
  color: #fff;
}

.btn-trans-black {
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.85);
}

.btn-trans-black:hover {
  color: white;
  background-color: #000;
}

.btn-trans-white {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.95);
}

.btn-trans-white:hover {
  background-color: rgba(255, 255, 255, 0.95);
  color: rgba(0, 0, 0, 0.85);
  border-color: rgba(255, 255, 255, 0.12);
}

.btn-trans-white:active,
.btn-trans-white:focus {
  color: #fff;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.12);
}

.btn-rounded {
  border-radius: 2px;
}

.btn-circled {
  border-radius: 40px;
}

.btn-trans-black:hover {
  background: #635CDB !important;
}

/*--------------------------
  SERVICE AREA SECTION
----------------------*/
.bg-feature {
  background-color: #073A5B;
}
.bg-main {
  background: #F4F8FB;
}
.section-padding {
  padding: 90px 0px;
}
.section-heading {
  text-align: center;
  width: 70%;
  margin: 0 auto 60px;
}
.section-heading h2 {
  margin-bottom: 20px;
  font-weight: 400;
}
.section-heading {
  width: 100%;
}
.line {
  width: 50px;
  background: #635CDB;
  height: 1px;
  margin: 10px auto;
}

.page-banner-area.page-service {
  background: url("../images/bg/bg-2.jpg") no-repeat;
  background-size: cover;
}

#service-head {
  padding-bottom: 100px;
  padding-top: 90px;
}
h4 {
  font-size: 22px;
  line-height: 32px;
}

#service-head .section-title {
  color: #fff;
}

.section-title {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 15px;
  text-transform: capitalize;
  font-weight: 600;
}

#service-head .section-title {
  color: #fff;
}
#service-head .section-title {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 15px;
  text-transform: capitalize;
  font-weight: 600;
}

.text-white p {
  color: #fff;
}

#service {
  margin-top: -100px;
  padding-bottom: 70px;
}

.service-box .service-img-icon {
  width: 100px;
  height: 100px;
  text-align: center;
  background: #fff;
  padding-top: 20px;
  margin: 0 auto;
  border-radius: 100%;
  margin-bottom: 20px;
  background: #83D0F5;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}

.service-box {
  margin-bottom: 40px;
  background: #fff;
  text-align: center;
  padding: 45px 25px 30px 25px;
  border: 1px solid transparent;
  transition: all .3s ease 0s;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.service-inner {
  margin-top: 30px;
}

.service-inner h4 {
  margin-bottom: 20px;
}

.service-inner span {
  color: #83D0F5;
}
/*------------------------------------
  PRICING SECTION AREA
--------------------------------*/
#pricing {
  padding-bottom: 100px;
}
#pricing h4 {
  font-weight: 600;
  
}

#pricing a {
  text-decoration: none;
  transition: all 0.2s;
  color: #000;
}

img {
  max-width: 100%;
}

#pricing a:hover {
  color: #635CDB;
  text-decoration: none;
}

#pricing a:focus {
  outline: none;
  text-decoration: none;
}

#pricing ul,
li {  
  list-style: none;
}

.pricing-block {
  text-align: center;
  transition: all .3s 0s ease;
  border-radius: 5px;
  border: 1px solid #eee;
}

.price-header {
  padding-bottom: 30px;
  padding-top: 30px;
}

.price-header i {
  width: 100px;
  height: 100px;
  text-align: center;
  padding-top: 25px;
  font-size: 50px;
  display: inline-block;
  border-radius: 100%;
  transition: all .3s ease 0s;
  color: #635CDB;
  border: 1px solid #eee;
}

.price-header .price {
  font-size: 70px;
  margin-top: 40px;
  margin-bottom: 0px;
}

.price-header h5 {
  font-weight: 400;
}

.price-header .price small {
  font-size: 18px;
}

.pricing-block ul {
  padding: 20px 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
}

.pricing-block ul li {
  padding: 6px 0px;
}

.pricing-block .btn {
  margin-bottom: 30px;
}

.pricing-block:hover i {
  background-image: -webkit-linear-gradient(135deg, #2f1ce0 0%, #53a0fd 50%, #51eca5 100%);
  background-image: -linear-gradient(135deg, #2f1ce0 0%, #53a0fd 50%, #51eca5 100%);
  color: #fff;
  border: 1px solid #53a0fd;
}

.pricing-block:hover,
.pricing-block.active {
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
}

#pricing .section-heading {
  margin-bottom: 90px;
}

/* -------------------
PRICING PAGE
--------------------*/


/* TESTIMONIAL */

/* TESTIMONIAL */


/* about pag start */ 
.single-page-header, 
.single-page-service{  
    background-size: cover;
    padding: 140px 0 70px;
    text-align: center;
    color: #fff;
    position: relative;
  }
  
  .single-page-header:before {
    background: #073a5b;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .single-page-cyber:before {
    background-image: url(../img/cyber.jpg);
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .single-page-cloud:before{ 
    background-image: url();
    background-repeat: no-repeat; 
  }
  .single-page-outsourcing:before{
    background-image: url();
    background-repeat: no-repeat; 
  }
  .single-page-hardware:before{
    background-image: url();
    background-repeat: no-repeat;
  }

  .single-page-service:before {
    background: #073a5b;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  .bg-gray {
    background: #f9f9f9;
  }

/* about pag end */




/* footer */
.footer-bottom {
    text-align: center;
    background-color: #1b1b1b;
    border-top: 1px solid #2c2c2c;
    padding: 30px 0;         
  }
  
  .footer-bottom h5 {
    font-size: 12px;
    line-height: 1;
    color: #888888;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 7px;
    margin-bottom: 3px;
  }
  
  .footer-bottom h6 {
    font-size: 11px;
    line-height: 15px;
    color: #888888;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 0;
  }
  
/* footer */


/* contact /*
/*=================================================================
  Contact
  ==================================================================*/
.contact-us {
    padding: 100px 0 50px 0;
}

.contact-us .title {
    padding-bottom: 50px;
    overflow: hidden;
}

.contact-us h2 {
    font-weight: 600;
    font-size: 35px;
    color: #232323;
}

.contact-us h3 {
    font-weight: 600;   
}


.contact-us .title p {
    color: #848484;
    width: 50%;
    margin: 0 auto;
}

.contact-us .title.title-white h2 {
    color: #fff;
}

.contact-us .contact-form {
    margin-bottom: 40px;
}

.contact-us .border {
    height: 2px;
    margin: 20px auto 20px;
    position: relative;
    width: 80px;
    background: #28ABE3;
}

.contact-form .form-control {
    background-color: transparent;
    border: 1px solid #dedede;
    box-shadow: none;
    height: 45px !important;
    color: #0c0c0c;
    height: 38px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border-radius: 0;
}

.contact-form input:hover,
.contact-form textarea:hover,
.contact-form #contact-submit:hover {
    border-color: #28ABE3;
}

.contact-form #contact-submit {
    border: none;
    padding: 15px 0;
    width: 100%;
    margin: 0;
    background: #28ABE3;
    color: #fff;
    border-radius: 0;
}

.contact-form textarea.form-control {
    padding: 10px;
    height: 120px !important;
    outline: none;
}

.contact-details .contact-short-info {
    margin-top: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-details .contact-short-info li {
    margin-bottom: 6px;
}

.social-icon {
    margin-top: 20px;
}

.social-icon ul li {
    display: inline-block;
    margin-right: 10px;
    margin: 0;
}

.social-icon ul li a {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #dedede;
    text-align: center;
}

.social-icon ul li a:hover {
    background: #28ABE3;
    color: #fff;
    border: 1px solid #28ABE3;
}

.social-icon ul li a:hover i {
    color: #fff;
}

.social-icon ul li a i {
    color: #55606a;
    display: inline-block;
    font-size: 20px;
    line-height: 50px;
    margin: 0;
}

.btn-transparent {
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 14px 35px;
    text-transform: uppercase;
    border-radius: 40px;
}

.btn-transparent:hover {
    color: #fff;
}


/* contact /*


/*------------Slider----------------------*/

.hero-area {
    background-image: url("../images/slider/slider-bg-1.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-area:before {
    content: '';
    background: rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.slider-item {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.slider-item::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
}

.slider-item .container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slider-item h1 {
    color: #fff;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 20px;
}

.slider-item p {
    color: #fff;
    margin-bottom: 20px;
}

.hero-slider {
    overflow-x: hidden;
}

.hero-slider .prevArrow {
    left: -100px;
}

.hero-slider .nextArrow {
    right: -100px;
}

.hero-slider:hover .prevArrow {
    left: 20px;
}

.hero-slider:hover .nextArrow {
    right: 20px;
}
