/*Services */


/*Services */




/* TESTIMONIAL */

/* TESTIMONIAL */





/* footer */
.footer-bottom {
    text-align: center;
    background-color: #1b1b1b;
    border-top: 1px solid #2c2c2c;
    padding: 30px 0;
  }
  
  .footer-bottom h5 {
    font-size: 12px;
    line-height: 1;
    color: #888888;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 7px;
    margin-bottom: 3px;
  }
  
  .footer-bottom h6 {
    font-size: 11px;
    line-height: 15px;
    color: #888888;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 0;
  }
  


/* footer */


/* contact /*
/*=================================================================
  Contact
  ==================================================================*/
.contact-us {
    padding: 100px 0 50px 0;
}

.contact-us .title {
    padding-bottom: 50px;
    overflow: hidden;
}

.contact-us h2 {
    font-weight: 600;
    font-size: 35px;
    color: #232323;
}

.contact-us h3 {
    font-weight: 600;   
}


.contact-us .title p {
    color: #848484;
    width: 50%;
    margin: 0 auto;
}

.contact-us .title.title-white h2 {
    color: #fff;
}

.contact-us .contact-form {
    margin-bottom: 40px;
}

.contact-us .border {
    height: 2px;
    margin: 20px auto 20px;
    position: relative;
    width: 80px;
    background: #28ABE3;
}

.contact-form .form-control {
    background-color: transparent;
    border: 1px solid #dedede;
    box-shadow: none;
    height: 45px !important;
    color: #0c0c0c;
    height: 38px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border-radius: 0;
}

.contact-form input:hover,
.contact-form textarea:hover,
.contact-form #contact-submit:hover {
    border-color: #28ABE3;
}

.contact-form #contact-submit {
    border: none;
    padding: 15px 0;
    width: 100%;
    margin: 0;
    background: #28ABE3;
    color: #fff;
    border-radius: 0;
}

.contact-form textarea.form-control {
    padding: 10px;
    height: 120px !important;
    outline: none;
}

.contact-details .contact-short-info {
    margin-top: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}



.contact-details .contact-short-info li {
    margin-bottom: 6px;
}

.social-icon {
    margin-top: 20px;
}

.social-icon ul li {
    display: inline-block;
    margin-right: 10px;
    margin: 0;
}

.social-icon ul li a {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #dedede;
    text-align: center;
}

.social-icon ul li a:hover {
    background: #28ABE3;
    color: #fff;
    border: 1px solid #28ABE3;
}

.social-icon ul li a:hover i {
    color: #fff;
}

.social-icon ul li a i {
    color: #55606a;
    display: inline-block;
    font-size: 20px;
    line-height: 50px;
    margin: 0;
}

.btn-transparent {
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 14px 35px;
    text-transform: uppercase;
    border-radius: 40px;
}

.btn-transparent:hover {
    color: #fff;
}


/* contact /*


/*------------Slider----------------------*/

.hero-area {
    background-image: url("../images/slider/slider-bg-1.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-area:before {
    content: '';
    background: rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.slider-item {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.slider-item::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
}

.slider-item .container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slider-item h1 {
    color: #fff;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 20px;
}

.slider-item p {
    color: #fff;
    margin-bottom: 20px;
}

.hero-slider {
    overflow-x: hidden;
}

.hero-slider .prevArrow {
    left: -100px;
}

.hero-slider .nextArrow {
    right: -100px;
}

.hero-slider:hover .prevArrow {
    left: 20px;
}

.hero-slider:hover .nextArrow {
    right: 20px;
}

/* slick style */
.slick-slide {
    outline: 0;
}

.slick-slide img {
    display: unset;
}

/* slick arrows */
.slick-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9;
    height: 70px;
    width: 70px;
    background: rgba(40, 171, 227, 0.5);
    color: #fff;
    border: 0;
    line-height: 70px;
    font-size: 35px;
    transition: .2s ease;
    border-radius: 50%;
}

.slick-arrow::before {
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    background: transparent;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
    transition: .2s ease;
}

.slick-arrow::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 25px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #fff;
    transition: .2s ease;
}

.slick-arrow:focus {
    outline: 0;
}

.slick-arrow:hover {
    background: #28ABE3;
}

.prevArrow {
    left: 0px;
}

.prevArrow::before {
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    right: 35px;
}

.prevArrow::after {
    right: 20px;
}

.nextArrow {
    right: 0px;
}

.nextArrow::before {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    left: 35px;
}

.nextArrow::after {
    left: 20px;
}

;